.ticketContainer {
    display: grid;
    width: 900px;
    height: 550px;
    border-radius: 15px;
    grid-template-columns: 5fr 3fr;
    grid-template-areas: 'left right';
    min-height: 0;
    min-width: 0;
    position: static;
    /* margin-left: 50px; */

}


.leftTicketContainer {
    grid-area: left;
    overflow: hidden;
    min-width: 0;
    min-height: 0;
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 'left_top'
                         'left_down';
}

.eventTitle {
    grid-area: 'left_top';
    overflow: hidden;
    /* min-width: 0;
    min-height: 0; */
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
    /* text-align: center; */
    font-weight: 400;
    position:center;
    text-align: center;
    border-bottom: rgb(214, 211, 211) solid;
    border-bottom-width: 1px;
}

.ticketH1{
    color: black;
    font-weight: bold;
    font-size: 30px;
    grid-template-areas: 'left_down';
    position:absolute;
    top: 0;
    margin-top: 120px;
    margin-left: 50px;
}

.ticketpagemodal_form {
    grid-area: left_down;
    overflow: hidden;
    min-width: 0;
    min-height: 0;
    margin-left: 50px;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    margin-top: 120px;
    margin-right: 40px;


}

.rightTicketContainer {
    grid-area: right;
    overflow: hidden;
    min-width: 0;
    display: grid;
    grid-template-rows: 2fr 3fr;
    grid-template-areas: 'right_top'
                         'right_down';
    min-height: 0;  /* NEW */
    border-left: rgb(214, 211, 211) solid;
    border-width: 2px;
}

.ticket-img {
    grid-area: right_top;
    overflow: hidden;
    min-width: 0;
    min-height: 0;
}

.actual-img {
    max-width: 100%;
    height: 100%;
    overflow: hidden;

}

.shopCart {
    grid-area: right_down;
    overflow: hidden;
    min-width: 0;
    min-height: 0;
    background-color: rgba(230, 230, 230, 0.9)
}

.checkoutBtn {
    position: absolute;
    bottom:   0;
    left:0;
    right: 0;
    text-align: center;
    background-color: #D1410C ;
    color: white;

    font-size: 15px;
    /* border-radius: 4px; */
    height: 45px;
    width: 62.5%;
    border: none;
    overflow: hidden;



}

.ticketItem {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20px;
}

.selectQuantityButton {
    width: 50px;
    height: 30px;
}

.shopCart img {
    height: 40px;
    width: 40px;
    margin-top: 140px;
    margin-left: 150px;
}
