
.eventDetail{

    position: absolute;
    margin-left: 140px;
    margin-right: auto;
    margin-top: -690px;
    height: 1000px;
    background-color: white;
    width: 1150px;
    align-content: center;
    border-radius: 5px;

}

.blur-img {
    filter: blur(30px);
    -webkit-filter: blur(80px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */
    width: 100%;
    margin-left: 0;


}
.eventImage {

    position: absolute;
    margin-left: auto;
    margin-right: auto;


}
.ticketArea{

    display: flex;
    height: 400px;
    background-color: rgba(230, 230, 230, 0.9);
    border-radius: 8px;

}
.ticketArea h1{
    color:black;
    font-size: 16px;
    margin-left: 830px;
    margin-right: 20px;
    margin-top: 100px;


    color: #1E0A3C;
    font-weight: 530;
    font-size: 20px;

    letter-spacing: .5px;
    word-break: break-word;

}

.buttonArea{
    position: absolute;
    top: 0;
    width: 100%;
    max-height: inherit;
    height: 66px;

    width: 1150px;
    height: 66px;
    margin-top: 400px;
    border-style: solid;
    border-color: #DBDAE3;
    border-width: 1px 0;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;

}


.ticketbtn{
    font-weight: 600;
    color: #FFF;
    background-color: #0D8547;
    margin-left: 810px;

    display: inline-block;

    zoom: 1;
    transition: all .2s ease-out;
    vertical-align: middle;
    position: relative;
    height: 44px;
    border: 2px solid transparent;
    padding: 0 135px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    line-height: 26px;
    font-size: 15px;
    border-radius: 4px;
}
/* .eventTitle {
    margin-top: 400px;
    font-weight: bold;
} */

.eventDescription {
    margin-top: 120px;
    max-width: 600px;
    font-style: italic;
    font-size: 16px;
    line-height: 1.5rem;
    margin-left: 130px;
    position: relative;

}
.eventDescription h1 {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 40px;
}

.scroll{
    margin: 20px 80px 60px 80px;
    padding: 20px;
    background-color: white;
    overflow: auto;
    white-space: nowrap;
    border: none;
    border-radius: 5px;

    /* display: flex; */
    /* flex-direction: row; */
    /* margin-left: auto;
    margin-right: auto; */
    margin-bottom: 100px;
    width: 87%;
    margin-top: 600px;
    /* justify-content: space-between;
    flex-wrap:wrap; */
    overflow: scroll;
    display: inline-flex;
    position: relative;


}

.scroll_card {
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 290px;
    height:300px;
    margin-bottom: 50px;
    margin-left: 10px;

    margin-top: 0px;
    margin-bottom: 50px; */

    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    width: 290px;
    height:300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.cardImg {
    /* width: 100%;
    height: 50%; */

    height: 150px;
    width: 250px;
    /* float: inherit; */
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
}

.cardTitle {
    /* padding: 2px 16px;
    font-size:18px;
    font-weight: bold;
    color: #39364f */
    /* padding: 2px 16px; */
    font-size:14px;
    font-weight: bold;
    color: #39364f;
    white-space:pre-wrap;

    /* box-shadow: 10px 10px 8px lightslategrey; */
}

/* .cardTitle title{
    font-size: 14px;
} */

.fa-color {
    color: palevioletred;
}
