* {box-sizing: border-box}

body {
    padding-top: 65px;
    background-color:  white;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0;
  }

.formImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%px;
    height: 100px;

}
.formContainer h1{
    color:black;
    text-align: center;
}

.errorList{
    color: red;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: red;

}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
  border-radius: 8px;
}

label {
    font-weight: bold;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.form{
  display: flex;
  align-content: center;
  align-items: flex-start;
  justify-content: center;
}

button:hover {
  opacity:1;
}

.login_footer{
  color: #D1410C;
  height: 50px;
}


/* Add padding to container elements */
.formContainer {
  display: block;
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
  padding-bottom: 72px;
  width: 30%;

}
.or{
    color:black;
    font-size: 14px;
    text-align: center;
}
.loginbtn{
    display: inline-block;
    text-align: center;
    background-color: #D1410C ;
    color: white;

    font-size: 15px;
    border-radius: 4px;
    height: 45px;
    width: 100%;
    border: none;
}
.gotoSignupbtn{
    display: inline-block;
    text-align: center;
    background-color: #ffb920 ;
    color: white;

    font-size: 15px;
    border-radius: 4px;
    height: 45px;
    width: 100%;
    border: none;
}

.demouserlogin{
    display: inline-block;
    text-align: center;
    background-color: black ;
    color: white;

    font-size: 15px;
    border-radius: 4px;
    height: 45px;
    width: 100%;
    margin-top: 10px;
    border: none;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}
